.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4em
}

.pagination button {
    margin: 0 0.5em
}

.video {
    padding: 2em 2em 0.5em 2em;
    border: none;
}

.video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframes {
    display: flex;
    flex-direction: column;
}

.video-details {
    /* display: flex; */
    margin: 0 2em 1em 2em
}

.video-details p:nth-child(1) {
    color: rgb(181, 54, 183);
    font-weight: 500;
}

.video-details p:nth-child(2) {
    color: rgb(65, 65, 65);
    font-weight: 300;
}

@media screen and (min-width: 1024px) {
    .iframes {
        display: flex;
        flex-direction: row;

    }
}