.home-section {
    display: flex;
    flex-direction: column;
    margin: 1em 2.1em;
    align-items: center;
    /* text-align: justify; */
}

.home-section p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.warning {
    color: #007FFF;
}


.color {

    color: #007FFF;
}

.home-section a {
    color: rgb(29, 29, 29);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
}

.home-section a:visited {
    color: rgb(29, 29, 29);
}


@media screen and (min-width: 1024px) {
    .home-section {
        width: 60%;
        margin: 0 auto;
        margin-top: 3em;
    }

    .home-section button {
        margin-top: 5em;
    }
}