.SearchInput {
    background: url("https://cdn-icons-png.flaticon.com/512/3917/3917754.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 300px center;
}

.header-description-section {
    padding: 0.5em 2em;
}

.channel-section {
    margin-top: 2.2em;
}



.header-channel-section button {
    padding: 0.5em;
    background-color: rgb(255, 255, 57);
    color: white;
    margin-left: 1em;
    font-weight: 700;
    border-radius: 50px;
    font-size: 1.1em;

}

.header-channel-section>div {
    display: flex;
    flex-direction: row;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(29, 29, 29);
    text-decoration: none;
}

a:visited {
    color: rgb(29, 29, 29);
}