.SearchInput {
    background: url("https://cdn-icons-png.flaticon.com/512/3917/3917754.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 300px center;
}